.DS_Store
.idea/*
target/
target/*
./target
.idea
*.iml
data-base/
launch.json
.classpath
.factorypath
.project
.settings/
.vscode/
bin/
opt/
.yml
docker-compose.yml
src/main/resources/application-local.properties
